@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.slide_div {
  width: 100%;
  height: 300%;
  position: relative;
}

.slide_page {
  width: 100%;
  position: relative;
}
.slide_page_1 {
  background: url("../images/BG2.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  .title{
    margin: 40px auto 0;
    width: 80%;
    height: 360px;
    z-index: 10;
    background: url("../images/1/title.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .next {
    margin: 0 auto;
    width: 54px;
    height: 36px;
    background: url("../images/1/arrow.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    -webkit-animation: start 1.5s infinite ease-in-out;
    -moz-animation: start 1.5s infinite ease-in-out;
    -o-animation: start 1.5s infinite ease-in-out;
    animation: start 1.5s infinite ease-in-out;
  }
}
.slide_page_2 {
  background: url("../images/BG.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .donate{
    margin: 8% auto 0;
    width: 80%;
    height: 120px;
    z-index: 10;
    background: url("../images/1/donate.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .present{
    margin: -10% auto 8%;
    width: 100%;
    height: 240px;
    z-index: 10;
    background: url("../images/1/present.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    position: relative;
  }
  .question{
    padding-top: 60%;
    text-align: center;
    color: #fff;
    font-size: large;
  }
  .howto{
    display: block;
    width: 45%;
    height: 50px;
    z-index: 10;
    background: url("../images/1/howto.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .guide{
    li{
      margin-bottom: 20px;
      color: #fff;
      .gtitle{
        -webkit-transform: translate(2px,5px);
        -moz-transform: translate(2px,5px);
        -ms-transform: translate(2px,5px);
        -o-transform: translate(2px,5px);
        transform: translate(2px,5px);
        font-size: x-large;
        display: inline-block;
        font-weight: bold;
      }
      .gcontent{
        margin-left: 30px;
        font-size: large;
      }
    }
    img{
      display: inline-block;
      width: 30px;
      height: 30px;
      z-index: 10;
      -webkit-background-size: contain;
      background-size: contain;
    }
  }
}
.slide_page_3{
  background: url("../images/BG.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  .plan{
    display: block;
    width: 45%;
    height: 50px;
    z-index: 10;
    background: url("../images/1/plan.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
  .planDesc{

  }
  .join{
    display: block;
    width: 80%;
    height: 50px;
    z-index: 10;
    background: url("../images/1/join.png") no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
  }
}

@-webkit-keyframes start {
  0%,30% {opacity: 0; -webkit-transform: translate(0,10px); }
  60% {opacity: 1; -webkit-transform: translate(0,0); }
  100% {opacity: 0; -webkit-transform: translate(0,8px); }
}
@-moz-keyframes start {
  0%,30% {opacity: 0; -moz-transform: translate(0,10px); }
  60% {opacity: 1; -moz-transform: translate(0,0); }
  100% {opacity: 0; -moz-transform: translate(0,8px); }
}
@-ms-keyframes start {
  0%,30% {opacity: 0; -ms-transform: translate(0,10px); }
  60% {opacity: 1; -ms-transform: translate(0,0); }
  100% {opacity: 0; -ms-transform: translate(0,8px); }
}
@-o-keyframes start {
  0%,30% {opacity: 0; -o-transform: translate(0,10px); }
  60% {opacity: 1; -o-transform: translate(0,0); }
  100% {opacity: 0; -o-transform: translate(0,8px); }
}
@keyframes start {
  0%,30% {opacity: 0; transform: translate(0,10px);}
  60% {opacity: 1; transform: translate(0,0);}
  100% {opacity: 0; transform: translate(0,8px);}
}

/************  transition  **************/
.transition_fast {
  -webkit-transition: .6s ease;
  -moz-transition: .6s ease;
  -ms-transition: .6s ease;
  -o-transition: .6s ease;
  transition: .6s ease;
}
